.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
}
.img-and-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.heading {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-weight: bold;
}
.input-element {
  width: 500px;
  height: 35px;
  background-color: transparent;
  border: 1px solid #7b8794;
  outline: none;
  padding-left: 10px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tabs-container {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 0;
}
.app-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  width: 60%;
}
.search-icon {
  width: 40px;
}
@media screen and (max-width: 768px) {
  .input-element {
    width: 200px;
  }
  .search-icon {
    width: 30px;
  }
}
